body{
  background-color:#7fffd4;
  color:#255;
  width:100%;
  font-family: sans-serif;
  margin:0 auto;
}

.header{
     width: 90%;
     margin: auto;
     height:120px;
     line-height:120px;
     background:#417aa8;
    color:#fff:
}


